certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
pypresence @ git+https://github.com/qwertyquerty/pypresence.git@f856ccaaeb2321f64f9692b75dc3ceda5c927f42
python-dotenv==1.0.1
requests==2.32.3
urllib3==2.2.2
colorama==0.4.6
